.manga-id{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.manga-id-background{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;

}
.manga-id-overlay{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
}

.manga-id-wrapper{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: start;
}


.manga-id__img{
    margin-right: 30px;
}

.manga-id__content{

 }

.manga-id__content-top{
    margin-bottom: 10px;
    height: 300px;
}

.manga-id__title h1{
    font-size: 40px;
    color: #ffffff;
    line-height: 50px;
}

.manga-id__creators{

}

.manga-id__content-bottom{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.manga-id__creators-author, .manga-id__creators-artist{
    color: #ffffff;
    font-size: 28px;
}

.manga-id__button{
    max-width: 400px;
    padding: 20px 35px;
    border-radius: 5px;
    background-color: rgb(255,103,64);
    color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    margin-right: 40px;
}
.manga-id__manga-stats{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manga-id__manga-stats p{
    font-family: "Poppins", sans-serif;
}
.manga-id__description{
    padding-bottom: 40px;
}