.swiper{
    position: relative;
    padding-bottom: 30px;
}

.slider__text {
    margin-bottom: 10px;
}

.slider__text h3{
    font-size: 32px;
    font-weight: 500;
}

.swiper-pagination{
    display: block;
}


