.custom-next, .custom-prev {
    position: relative;
    font-size: 20px;
    background: transparent;
    border: none;
    z-index: 3;
    cursor: pointer;
}
.custom-next {

}

.custom-prev {
    margin-right: 40px;
}

.swiper-pagination-bullet{
    background-color: #ff4700;
}

.swiper-pagination-bullet-active {
    background-color: orangered;
}
